@model SpeedTest.Models.Site

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<!--TODO: add styles-->
<div>
    <h4>Site: @Html.DisplayFor(model => model.Address)</h4>
    <hr />


@foreach (var m in Model.Measurements.OrderByDescending(x=>x.DateOfMeasuring))
{
<div class="panel panel-default">
    <div class="panel-heading">Date of measuring: @m.DateOfMeasuring</div>
    <div class="panel-body">
        <table id="resultsTable" class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>Url</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var url in m.MeasuredUrls.OrderByDescending(x=>x.ElapsedTime))
                {
                    <tr>
                        <td>@url.Url</td>
                        <td>@url.ElapsedTime</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    </div>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
